{
	servers {
		# the heroku router is on the local LAN and we trust it to tell us the originating client
		# IP address, etc.
		trusted_proxies static private_ranges
		timeouts {
			# todo: https://caddyserver.com/docs/caddyfile/options#timeouts
		}
	}
}

http://localhost:2015 {
	log {
		output stdout
		format json
	}
	reverse_proxy localhost:8080 {
		header_down -Server
	}
	import ip-filter.Caddyfile
}
